:root {
  --black: #1E1E1E;
  --blue: #AAF0FF;
  --white: #ffffff; 
}

html {
  font-size: 18px;
  line-height: 1.5;
  background: var(--black);
}

body {
  font-family: Helvetica, Arial;
  padding: 2rem 1rem 1rem 1rem;
  color: var(--white);
  max-width: 960px;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  line-height: 1.2;
}

section ul {
  max-width: 390px;
}

section {
  margin-bottom: 2rem;
}

header {
  max-width: 370px;
}

header p, h1 {
  letter-spacing: 0px;
  font-size: 1.1rem;
}

header p {
  font-weight: bold;
  line-height: 1.2;
  margin: 1rem 0 2rem 0;
}

h1 {
  color: var(--blue);  
}

ul {
  padding: 0;
}

hr {
  margin-top: 0.2rem;
  border-top: 1px solid var(--blue);
}

a, a:visited {
  color: var(--white);
}

.grid {
  display: block;
  margin: 0 0 3rem 0;

}

p {
  font-size: 0.8rem;
}


h2 {
  font-size: 0.8rem;
  padding-bottom: 0;
}

.date {
  display: block;
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
}

.org {
  display: block;
  font-weight: bold;
}

li {
  font-size: 0.8rem;
  list-style: none;
  margin: 0 0 1rem 0;
}


@media only screen and (min-width: 500px) { 
  header p, h1 {
    font-size: 1.8rem;
    letter-spacing: -1px;
  }
  body {
    padding: 2rem 2rem 2rem 2rem;
  }
  header {
    max-width: 560px;
  }

}

@media only screen and (min-width: 660px) {
  .grid {
    display: grid;
    grid-template-columns: 33% 33% 33%; 
  }
  section {
    margin-right: 2rem;
  } 
}


@media only screen and (min-width: 860px) {

  body {
    padding: 4rem 4rem 4rem 4rem;
  }
  header {
    max-width: 760px;
  }
  header p {
    margin: 2rem 0 3rem 0;
  }
  header p, h1 {
    font-size: 2.4rem;
  }
}







