@font-face {
  font-family: infiniRegular;
  src: url(https://cdn.glitch.global/b559143c-e769-4b13-a9ff-f89cf2ca7f96/infini-regular.woff?v=1646935324591);
}

@font-face {
  font-family: infiniItalic;
  src: url(https://cdn.glitch.global/b559143c-e769-4b13-a9ff-f89cf2ca7f96/infini-italic.woff?v=1646935327435);
}

@font-face {
  font-family: infiniBold;
  src: url(https://cdn.glitch.global/b559143c-e769-4b13-a9ff-f89cf2ca7f96/infini-bold.woff?v=1646935332245);
}

html {
  font-size: 16px;
  line-height: 1.4;
}

body {
  font-family: infiniRegular;
  padding: 3rem 2rem 2rem 2rem;
  color: black;
  max-width: 600px;
}

h1, h2, h3, h4, h5 {
  font-family: infiniRegular;
  line-height: 1.1;
  font-size: 1.2rem;
  font-weight: normal;
}

h2 {
  margin: 3rem 0 1rem 0;
  font-family: infiniItalic;
  font-size: 1rem;
}

h1 {
  font-family: infiniBold;
  display: inline;
}

span {
  font-family: infiniItalic;
  line-height: 1.1;
  font-size: 1.2rem;
}

p, li {
  font-size: 1rem;
}

.date {
  font-family: infiniBold;
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

li {
  list-style: none;
  margin: 0 0 1rem 0;
}

ul {
  padding: 0;
}

hr {
  margin-top: 3rem;
  color: black;
}

.small {
  font-size: 28px;
  max-width: 1000px;
}

a, a:visited {
  color: black;
}

header {
  max-width: 420px;
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 18px;
  }
  body {
    padding: 5rem 4rem 4rem 4rem;
  }
}

