---
---

//
// IMPORTS
//

// @import "reset";
// @import "settings";
@import "variables";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
}

body {
  font-family: $mono;
  color: $black;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
}

small, .milli {
}

strong, b {
}

figure {
  margin: 0;
}

figcaption {
  // font-family: $georgia;
  // font-style: italic;
  color: $darkGrey;
  font-size: 0.8em;
}

blockquote {
  margin: 0;
  padding-left: 2em;
  border-left: 3px solid $grey;
}

img {
  max-width: 100%;
}

// Specify the color of the selection
::-moz-selection {
}
::selection {
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.wrapper {
  max-width: 960px;
  margin: 0 auto;  
  padding: 0 20px; 
  @include desktop {
    padding: 0;
  }
}


//
// .main
//

.main {
  @include desktop {
    display: block;
    overflow: auto;
    margin-left: 250px;
    margin-right: 40px;
  }
}

.posts__headline {
  margin-bottom: 0;
}

.post {
}

.date {
  font-style: italic;
}


