
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Greys
$black: #000;
$darkerGrey: #222;
$darkGrey: #666;
$grey: #ddd;
$lightGrey: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$freight: "freight-sans-pro", Helvetica, Arial, sans-serif;
$mono: "Courier New", Courier, monospace;


// Mobile breakpoints
@mixin desktop {
  @media screen and (min-width: 640px) {
    @content;
  }
}